@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0A0F1E;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0A0F1E;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
